<!DOCTYPE html>
<html lang="en">
<head>
  <title>Redis Analytics - Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= css :application, :media => 'screen' %>
  <%= js  :app %>
</head>
<body onload="changeTimeFrame('<%=@range%>')">
  <%= erb(:header, :layout => false) %>
  <!-- start yield -->
  <%=yield%>
  <!-- end yield -->
  <%= erb(:footer, :layout => false) %>
</body>
</html>
