<script type="text/javascript" language="text/javascript">

visits_area = Morris.Area({
  element: 'visits_area',
  xkey: 'date',
  data: <%=@data[@range][:visits_new_visits_plot].to_json%>,
  ykeys: ['new_visits', 'returning_visits'],
  labels: ['New Visits', 'Returning Visits'],
  ymax: 'auto',
  //events: ['2013-03-02', '2013-03-03'],
    grid: true,
  eventStrokeWidth: 2,
  eventLineColors: ['#ccc', '#eee'],
  smooth: true,
  hideHover: 'auto',
  parseTime: false,
  lineWidth: 1,
  pointSize: 0,
   //  xLabels: 'day',
    xLabelFormat: function(x) {return '';},

  // hoverCallback: function(index, series)
  //   {
  // 	h = series.data[index];
  // 	d = Date(h.x);
  // 	return(d + '<br>' + h.new_visits);
  //   },
  pointFillColors: ['#fff'],
  pointStrokeColors: ['#000'],
});

visits_donut = Morris.Donut({
  element: 'visits_donut',
  data: <%=@data[@range][:visits_new_visits_donut].to_json%>
});

referrers_donut = Morris.Donut({
  element: 'referrers_donut',
  data: <%=@data[@range][:referrers_donut].to_json%>
});

browsers_donut = Morris.Donut({
  element: 'browsers_donut',
  data: <%=@data[@range][:browsers_donut].to_json%>
});

unique_visits_line = Morris.Line({
  element: 'unique_visits_line',
  xkey: 'unit',
  data: <%=@data[@range][:unique_visits].to_json%>,
  ykeys: ['unique_visits_this', 'unique_visits_last'],
    labels: ['Current', 'Previous'],
  ymax: 'auto',
  hideHover: 'auto',
  parseTime: false,
  lineWidth: 1,
  pointSize: 0,
  grid: true,
  pointFillColors: ['#fff'],
  pointStrokeColors: ['#000'],
  // hoverCallback: function(index, series)
  //   {
  // 	h = series.data[index];
  // 	this_week_color = series.lineColors[0];
  // 	last_week_color = series.lineColors[1];
  // 	html = '';
  // 	html += '<font style="color:' + this_week_color + '">This ' + h.unit + ': ' + h.unique_visits_this + '</font>';
  // 	html += '<br/>';
  // 	html += '<font style="color:' + last_week_color + '">Last ' + h.unit + ': ' + h.unique_visits_last + '</font>';
  // 	return html;
  //  },

});

// visits_spark = Morris.Line({
//   element: 'visits_spark',
//   xkey: 'date',
//   data: <%=@data[@range][:visits_page_views_plot].to_json%>,
//   ykeys: ['visits', 'page_views'],
//   labels: ['Visits', 'Page Views'],
//   xLabelFormat: function(x){return '';},
//   yLabelFormat: function(x){return '';},
//   hoverCallback: function(i,x){return x.data[i].date + '<br/>' + 'Page Views: ' + x.data[i].page_views + '<br/>Visits: ' + x.data[i].visits;},
//   ymax: 'auto',
//   ymin: 0,
//   smooth: true,
//   hideHover: 'auto',
//   parseTime: false,
//   lineWidth: 2,
//   pointSize: 0,
//   grid: false,
//   pointFillColors: ['#fff'],
//   pointStrokeColors: ['#000']
// });

function setSessionCookie(name,value) {
    document.cookie = name+"="+value+"; path=/";
}

function changeTimeFrame(range)
{
var mapObject = $('#world-map').vectorMap('get', 'mapObject');
switch(range)
{
<% Rack::RedisAnalytics.time_range_formats.map{|x| x[0].to_s}.each do |range| %>
case '<%=range%>':
    setSessionCookie("_rarng", "<%=range%>");
    visits_area.setData(<%=@data[range.to_sym][:visits_new_visits_plot].to_json%>);
    unique_visits_line.setData(<%=@data[range.to_sym][:unique_visits].to_json%>);

    $("#total_visits")[0].innerHTML = '<%=@data[range.to_sym][:total_visits]%> <small class="muted">visits</small>';
    $("#total_page_views")[0].innerHTML = '<%=@data[range.to_sym][:total_page_views]%> <small class="muted">page views</small>';
    $("#page_depth")[0].innerHTML = '<%=(@data[range.to_sym][:total_page_views].to_f/@data[range.to_sym][:total_visits].to_f).round(2)%> <small class="muted">pages per visit</small>';
    $("#bounce_rate")[0].innerHTML = '<%=(((@data[range.to_sym][:total_visits].to_f-@data[range.to_sym][:total_second_page_views].to_f)/@data[range.to_sym][:total_visits].to_f)*100).round(2)%>% <small class="muted">bounce rate</small>';
    $("#visit_duration")[0].innerHTML = '<%=Time.at(@data[range.to_sym][:avg_visit_time].round(2)).gmtime.strftime("%R:%S")%> <small class="muted">avg time spent</small>';
    $("#new_visits")[0].innerHTML = '<%=((@data[range.to_sym][:total_new_visits].to_f/@data[range.to_sym][:total_visits].to_f)*100).round(2)%>% <small class="muted">new visits</small></h4>';

    visits_donut = Morris.Donut({element: 'visits_donut', data: <%=@data[range.to_sym][:visits_new_visits_donut].to_json%>});
    browsers_donut = Morris.Donut({element: 'browsers_donut', data: <%=@data[range.to_sym][:browsers_donut].to_json%>});
    referrers_donut = Morris.Donut({element: 'referrers_donut', data: <%=@data[range.to_sym][:referrers_donut].to_json%>});
    mapObject.series.regions[0].setValues(<%=@data[range.to_sym][:country_map].to_json%>);

    $("#compare_unit")[0].innerHTML = '<%=range%>'; 

    <% @data[range.to_sym][:visitor_recency_slices].each_with_index do |((k, v), i), c| %>
    <% p = ((i.to_f/@data[range.to_sym][:visitor_recency_slices].map{|x| x[1]}.sum) * 100).round rescue '0' %>
    <%= "$('#recency_#{c}')[0].style.width = '#{p}%';" %>
    <%= "$('#recency_#{c}_num')[0].title = '#{i.to_i} visits';" %>
    <%= "$('#recency_#{c}_cent')[0].innerHTML = '#{p}';" %>
    <% end %>

    break;
<% end %>
}
}

// Map Overlay

var geoLocationData = <%=@data[@range][:country_map].to_json%>;

$(function(){
  $('#world-map').vectorMap({
    map: 'world_mill_en',
    min: 0,
    backgroundColor: '#fff',
regionStyle: {
  initial: {
    fill: '#ddd',
    "fill-opacity": 1,
    stroke: 'none',
    "stroke-width": 0,
    "stroke-opacity": 1
  },
  hover: {
    fill: '#bbb',
    "fill-opacity": 0.8
  },
  selected: {
    fill: 'yellow'
  },
  selectedHover: {
  }
},
    series: {
      regions: [{
        scale: ['#C8EEFF', '#0071A4'],
        values: geoLocationData,
        normalizeFunction: 'polynomial'
      }]
    },
    onLabelShow: function(e, el, code){
      el.html(el.html()+' (GDP - '+geoLocationData[code]+')');
    }
  });
});

</script>
