<script type="text/javascript" language="text/javascript">
function changeTimeFrame(range)
{
    var mapObject = $('#world-map').vectorMap('get', 'mapObject');
    switch(range)
    {
    <% Rack::RedisAnalytics.time_range_formats.each do |range, unit, time_format| %>
    case '<%=range%>':
	setSessionCookie("_rarng", "<%=range%>");
	
	// both time range graphs powered by time range data
	$.ajax({
	    url: '<%=Rack::RedisAnalytics.api_endpoint + "/data?metrics=unique_visits,new_visits,returning_visits&unit_count=#{(1.send(range)/1.send(unit)).round}&unit=#{unit}"%>',
	    dataType: "json",
	    success: function(data) {
		visits_area.setData(data);
		unique_visits_line.setData(data);
	    }
	});

	// aggregate data powers the 3 donuts
	$.ajax({
	    url: '<%=Rack::RedisAnalytics.api_endpoint + "/data?metrics=new_visits,returning_visits,browser,referrer,page_views,second_page_views,visit_time&unit_count=#{(1.send(range)/1.send(unit)).round}&unit=#{unit}&aggregate=yes"%>',
	    dataType: "json",
	    success: function(data) {

		// parse visits data from json
		var visits_json_data = []
		var new_visits = data[0].new_visits;
		var returning_visits = data[1].returning_visits;
		var total_visits = new_visits + returning_visits;
		var page_views = data[4].page_views;
		var second_page_views = data[5].second_page_views;
		var page_depth = Math.round(page_views/total_visits);
		var bounce_rate = Math.round(((total_visits - second_page_views)/total_visits) * 100);
		var percent_new_visits = Math.round((new_visits / total_visits) * 100);
		var total_visit_time = data[6].visit_time;
		var avg_visit_time = Math.round((total_visit_time / <%= (1.send(range)/1.send(unit)).round %>));

		visits_json_data.push({'label': 'new_visits', 'value': new_visits});
		visits_json_data.push({'label': 'returning_visits', 'value': returning_visits});
		browsers_donut = Morris.Donut({element: 'visits_donut', data: visits_json_data});
		$("#total_visits")[0].innerHTML = total_visits + ' <small class="muted">visits</small>';
		$("#total_page_views")[0].innerHTML = page_views + ' <small class="muted">page views</small>';
		$("#page_depth")[0].innerHTML = page_depth + ' <small class="muted">pages per visit</small>';		
		$("#bounce_rate")[0].innerHTML = bounce_rate + '% <small class="muted">bounce rate</small>';
		$("#visit_duration")[0].innerHTML = avg_visit_time + ' sec <small class="muted">avg time spent</small>';
		$("#new_visits")[0].innerHTML = percent_new_visits + '% <small class="muted">new visits</small></h4>';

		// parse browser data from json
		var browsers_json_data = [];
		for(var i in data[2].browser)
		{
		    var browser_data = {}
		    browser_data[i] = data[2].browser[i];
		    browser_data['label'] = i;
		    browser_data['value'] = data[2].browser[i];
		    browsers_json_data.push(browser_data);
		}
		browsers_donut = Morris.Donut({element: 'browsers_donut', data: browsers_json_data});

		// parse referrer data from json
		var referrers_json_data = [];
		for(var i in data[3].referrer)
		{
		    var referrer_data = {}
		    referrer_data['label'] = i;
		    referrer_data['value'] = data[3].referrer[i];
		    referrers_json_data.push(referrer_data);
		}
		referrers_donut = Morris.Donut({element: 'referrers_donut', data: referrers_json_data});
	    }
	});
	
	    
	break;
	    <% end %>
    }
}


function setSessionCookie(name,value) {
    document.cookie = name+"="+value+"; path=/";
}

function convertToCSV(objArray) {
  var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
  var str = '';
  for (var i = 0; i < array.length; i++) {
    var line = '';
    for (var index in array[i]) {
      if (line != '') line += ','
      line += array[i][index];
    }
    str += line + '\r\n';
  }
  return str;
};



</script>

<style>
.modal {width:940px;left:36%;}
</style>