<!DOCTYPE html>
<html>
<head>
  <title>RedisAnalytics</title>
  <%= stylesheet_link_tag    "redis_analytics/application", :media => "all" %>
  <%= javascript_include_tag "redis_analytics/application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="changeTimeFrame('<%=@range%>')">
<%= render partial: 'header', layout: false %>

<%= yield %>

<%= render partial: 'footer', layout: false %>
<%= javascript_include_tag "redis_analytics/bootstrap.min.js" %>
</body>
</html>
