<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= render partial: 'visits_area' %>
    </div>
    <div class="span2">
      <%= render partial: 'visits_donut' %>
    </div>
    <div class="span2">
      <%= render partial: 'referers_donut' %>
    </div>
    <div class="span2">
      <%= render partial: 'browsers_donut' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <%= render partial: 'unique_visits_line' %>
    </div>
    <div class="span4">
      <%= render partial: 'world_map' %>
    </div>

    <div class="span2">
      <%= render partial: 'visitor_recency_slices' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col style="width: 33%"></col>
          <col style="width: 33%"></col>
          <col style="width: 33%"></col>
        </colgroup>
        <tr>
          <td><%= render partial: 'total_visits' %></td>
          <td><%= render partial: 'total_page_views' %></td>
          <td><%= render partial: 'page_depth' %></td>
        </tr>
        <!--
        <tr colspan="3">
          <td>
            <%# erb :'widgets/visit_spark' %>
          </td>
        </tr>
        -->
      </table>
    </div>
    <div class="span6">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col style="width: 33%"></col>
          <col style="width: 33%"></col>
          <col style="width: 33%"></col>
        </colgroup>
        <tr>
          <td><%= render partial: 'bounce_rate' %></td>
          <td><%= render partial: 'visit_duration' %></td>
          <td><%= render partial: 'first_visits' %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<%= render partial: 'visits_js' %>
